body{
  background-color: black;
  color:beige;
}
div {
  font-family: Helvetica;
  background-color: #272D33;
  color: white;
  font-size: 32px;
  padding: 5px;
}


nav {
  background-color: #272D33;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}


img {
  width: 60px;
}

.items:hover{
  background-color: grey;
  opacity:0.5;
}

a{
  width: 20%;
  text-align: center;
  text-decoration: none;
} 